MOTD_PATH=/etc/motd
MOTD_FORMAT="txt"
OOD_DASHBOARD_LOGO=/public/ood_logo.svg
OOD_DASHBOARD_LOGO_HEIGHT="100px"
OOD_DASHBOARD_SUPPORT_URL="https://www.rcac.purdue.edu/help"
OOD_DASHBOARD_DOCS_URL="https://docs.rcac.purdue.edu/userguides/negishi/"
OOD_BC_DYNAMIC_JS=true
OOD_QUOTA_PATH="https://www.rcac.purdue.edu/ws/storagedirquota/$USER"
OOD_QUOTA_THRESHOLD="0.90"
OPENAI_API_KEY=
OPENAI_API_BASE_URL=https://genai.rcac.purdue.edu/api